@use 'dev';

// Widescreen
@include dev.media_xl {

}

// Desktop / laptop
@include dev.media_lg {

}

// Tablets / small laptops
@include dev.media_md {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    nav {
        ul.menu-nav,
        div.menu-brand {
            float: none;
            width: 100%;
            min-height:0;

            &.show {
                transform: translate3d(0,0,0);
            }
        }

        .menu-nav {
            height: 75vh;
            transform: translate3d(-100%, 0, 0);
            font-size: 24px;
        }

        .menu-brand {
            height: 25vh;
            transform: translate3d(100%, 0, 0);

            .pasfoto {
                background: dev.$pasfoto_sm;
                width: 150px;
                min-width: 150px;
                height: 150px;
                min-height: 150px;
                background-position: center;
                background-size: contain;
                border-radius: 50%;
            }
        }
    }
}

// Phone
@include dev.media_sm {
    main#home h1 {
        margin-top: 10vh;
    }
}

// Maybe include something so that the menu is reachable in browsers without js support