@use 'dev';
@use 'menu';
@use 'responsiveness';

// selects everything
* {
    box-sizing: border-box;
}

body {
    @include dev.background;
    background: dev.$col-primary;
    color: dev.$col-white;
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

// Headers, as in the tags
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    &.lg-header {
        font-size: 5rem;

        &.lg-name-fix {

            &.show {
                display: block;
            }

            &.hide {
                display: none;
            }
        }

        &.md-name-fix {

            &.show {
                display: block;
            }

            &.hide {
                display: none;
            }
        }
    }

    &.sm-header {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten(dev.$col-primary, 2), 0.5);
        border-radius: 3px;
    }
}

// Links
a {
    color: dev.$col-white;
    text-decoration: none;

    &.underline {
        text-decoration: underline;
    }

    &.social {
        color: dev.$col-quarterly;
    }

    &:hover {
        color: dev.$col-ternary;
        text-decoration: underline;
        @include dev.ease_out(dev.$easeout-reg);
    }
}

// Site Header
header {
    position: fixed;
    z-index: 2; // bigger is closer to you
    width: 100%;
}

.txt-secondary {
    color: dev.$col-secondary;
}

.txt-ternary {
    color: dev.$col-ternary;
}

.txt-quarterly {
    color: dev.$col-quarterly
}

main {
    padding: 4rem;
    height: 100%;

    // main tag with home id
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh; // viewport height (max 100 i think)
        }
    }
}

// bootstrap customization
.card-body {
    background-color: rgba(dev.$col-primary, 0.9);
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
  }